<!DOCTYPE html>

<html>

<head>
    <title>Feature Collection Recommender</title>
    <div th:replace="~{fragments/common :: headComponents}" th:remove="tag"></div>
</head>

<body>
    <div class="container">
        <div th:replace="~{fragments/common :: header}" th:remove="tag"></div>

        <div class="row mt-3">
            <h2>Feature Collection Recommender</h2>
        </div>

        <div class="row mt-3">
            <div class="col-sm-3">
                <div th:text="${value}"></div>
            </div>
        </div>
    </div>
</body>

</html>